<h1>Pages#contact</h1>
<p><%= number_to_phone "5555555555" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "80.6" %></p>

<p><%= number_with_delimiter "14644756" %></p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2662.4648461007323!2d11.564028915651887!3d48.13984285898216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e75f7276a441f%3A0x9f238b20aaab642f!2sKarlspl.%2C+M%C3%BCnchen!5e0!3m2!1sde!2sde!4v1548492423558" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>